*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:30px;
    animation: efeito2 0.7s infinite alternate;
}

h1{
    margin-top: 100px;
    font-size: 4rem;
    color:orangered;
    animation:efeito1 5s infinite;
}

h1:hover{
    text-decoration: underline;
    font-size: 4rem;
    border-bottom:10px solid #000;
}

img{
    border-radius: 20px;
    width: 250px;
    animation:efeito3 15s infinite;
}



@keyframes efeito1{
    from{
        margin-left:100%;
        width:100%;
    }
    to{
        margin-left:-100%;
        width: 100%
    }
}

@keyframes efeito2{
    0%{
        background: #fff;
    }
    70%{
        background-image:linear-Gradient(to right, #fff, #000);
    }
    100%{
        background-image: linear-Gradient(to right, #000, #fff);
    }
}

@keyframes efeito3{
    from{
        margin-left:120%;
    }
    to{
        margin-left:-100%;
    }
}


